<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RDLC.Shared.Properties.Settings.ManagementConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Management;Integrated Security=True;Pooling=False;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>